*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 50.5%; } }
  @media only screen and (max-width: 64em) {
    html {
      font-size: 43.5%; } }

body {
  box-sizing: border-box;
  margin: 0; }

main {
  display: block; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

a {
  background-color: transparent;
  text-decoration: none; }

abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

b,
strong {
  font-weight: bolder; }

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

img {
  border-style: none; }

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

button,
input {
  /* 1 */
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

fieldset {
  padding: 0.35em 0.75em 0.625em; }

legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

progress {
  vertical-align: baseline; }

textarea {
  overflow: auto; }

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

details {
  display: block; }

summary {
  display: list-item; }

template {
  display: none; }

[hidden] {
  display: none; }

:root {
  --white: rgba(255, 255, 255, .9);
  --black: rgba(0, 0, 0, .9);
  --red: rgba(243, 71, 57, 1);
  --orange: rgba(242, 71, 57, 1);
  --gray: rgba(74, 74, 74, 1);
  --green: rgba(0, 153, 137, 1); }

body {
  font-family: 'Quicksand', sans-serif; }

.heading {
  text-transform: uppercase;
  color: var(--white);
  margin: 0; }
  .heading-primary {
    font-size: 7.2rem; }
  .heading-secondary {
    font-size: 4.8rem; }
  .heading-tertiary {
    font-size: 3.6rem;
    color: var(--black);
    font-weight: 300;
    letter-spacing: 2px; }
  .heading-fourth {
    font-size: 3rem; }
  @media only screen and (max-width: 43.75em) {
    .heading {
      text-align: center; } }

.subheading {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--white);
  font-weight: 100; }
  .subheading::before, .subheading::after {
    content: '';
    border-top: 2px solid;
    margin: 0 20px 0 0;
    flex-basis: 7rem; }
  .subheading::after {
    margin: 0 0 0 20px; }
  .subheading__hero {
    font-size: 3rem; }
  .subheading__header {
    position: relative;
    font-size: 1.6rem;
    letter-spacing: 2px;
    font-weight: 100;
    margin-bottom: .1rem;
    width: 100%; }
  .subheading__team {
    position: relative;
    font-size: 1.6rem;
    letter-spacing: 2px;
    font-weight: 100;
    margin-bottom: 2rem;
    width: 100%; }
    .subheading__team::before {
      content: '';
      position: absolute;
      left: 50%;
      bottom: -1.5rem;
      width: 50%;
      height: .2rem;
      background-color: var(--orange);
      display: flex;
      justify-content: center;
      align-content: center;
      align-items: center;
      align-self: center;
      transform: translateX(-50%); }

.paragraph__team {
  margin-top: 2.5rem;
  font-size: 1.6rem;
  font-weight: 300; }

.footer__heading {
  position: relative; }
  .footer__heading::before {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -2.5rem;
    width: 100%;
    height: .2rem;
    background-color: var(--green);
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    align-self: center;
    transform: translateX(-50%); }

.footer__paragraph {
  margin-top: 5rem;
  font-size: 1.8rem;
  color: var(--gray);
  text-align: center; }

.footer__list {
  list-style-type: none;
  margin-top: 5rem;
  font-size: 1.8rem;
  text-align: center; }

.footer__item {
  padding: .65rem 0; }

.footer__link:link, .footer__link:visited {
  color: var(--gray);
  transition: .2s color; }

.footer__link:hover {
  color: var(--white); }

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap; }

.f-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

.nav {
  display: flex;
  height: 8rem;
  text-transform: uppercase; }

.social {
  display: flex;
  align-items: center;
  flex: 3;
  padding-left: 21rem;
  padding-right: 3rem; }
  @media only screen and (max-width: 43.75em) {
    .social {
      padding-left: 1.5rem; } }
  @media only screen and (max-width: 43.75em) {
    .social__item {
      display: none; } }
  .social__icon {
    width: 2.4rem;
    height: 2.1rem;
    margin: 0 2.5rem;
    transition: .2s all; }
    .social__icon:hover {
      fill: var(--red); }

.logo {
  font-size: 2.4rem;
  margin-right: auto;
  padding: .65rem 1rem;
  border: 1px solid var(--red);
  border-radius: 1.5rem;
  border-top-right-radius: 0;
  transition: .2s all; }
  .logo a:link,
  .logo a:visited {
    color: var(--black); }
  .logo:hover {
    color: var(--white);
    background-color: var(--red); }

.navigation {
  display: flex;
  flex: 1;
  align-items: center;
  padding-left: 3rem;
  font-size: 1.8rem;
  color: var(--white);
  background-color: var(--black); }
  @media only screen and (max-width: 43.75em) {
    .navigation {
      flex: 0;
      background-color: var(--white); } }
  .navigation__toggle {
    position: relative;
    width: 1.4rem;
    height: 1.2rem;
    margin-right: 2.2rem;
    border: 0;
    border-top: 1px solid var(--white);
    background: transparent;
    cursor: pointer; }
    @media only screen and (max-width: 43.75em) {
      .navigation__toggle {
        width: 3rem; } }
    .navigation__toggle::before, .navigation__toggle::after {
      content: '';
      position: absolute;
      left: 0;
      width: 100%;
      border-top: 1px solid var(--white); }
      @media only screen and (max-width: 43.75em) {
        .navigation__toggle::before, .navigation__toggle::after {
          border-color: var(--black); } }
    .navigation__toggle::before {
      top: -.5rem;
      transform: translateY(10px); }
      @media only screen and (max-width: 43.75em) {
        .navigation__toggle::before {
          transform: translateY(9px); } }
    .navigation__toggle::after {
      top: -1rem;
      transform: translateY(21px); }
    @media only screen and (max-width: 43.75em) {
      .navigation__toggle {
        border-color: var(--black); } }
  @media only screen and (max-width: 43.75em) {
    .navigation__info {
      display: none; } }

.hero {
  position: relative;
  background: url("../images/hero.jpg");
  background-size: cover;
  height: 55rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.facebook {
  width: 50px; }

.accomplishments {
  display: flex;
  width: 100%;
  justify-content: space-around;
  padding: 0 25rem 0 25rem;
  font-size: 1.8rem; }
  @media only screen and (max-width: 75em) {
    .accomplishments {
      padding: 0 18rem 0 18rem; } }
  @media only screen and (max-width: 43.75em) {
    .accomplishments {
      flex-direction: column;
      padding: 0 16rem 0 16rem; } }
  @media only screen and (max-width: 20em) {
    .accomplishments {
      padding: 0 10rem 0 10rem; } }

.progress {
  width: 22.1rem;
  height: 22.1rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5rem; }
  .progress__wrapper {
    display: flex;
    width: 25%;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    margin: 5rem 0;
    transition: .2s all; }
    .progress__wrapper:hover {
      transform: scale(1.1); }
    @media only screen and (max-width: 43.75em) {
      .progress__wrapper {
        width: 100%; } }
  .progress > .progress__inner {
    position: absolute;
    text-align: center; }
  .progress > svg {
    height: 100%;
    display: block; }
  .progress__description {
    margin-top: 4rem; }
    @media only screen and (max-width: 43.75em) {
      .progress__description {
        margin-top: 2rem; } }
  .progress__info:first-child {
    font-size: 7.2rem;
    font-weight: 800; }
  .progress__info:last-child {
    font-size: 1.8rem;
    text-transform: uppercase; }

.header__section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30rem;
  background-repeat: no-repeat;
  background-size: cover; }

.header__team {
  width: 100%;
  background: url("../images/sections/section-team.jpg");
  margin-bottom: 5rem; }

.header__portfolio {
  width: 100%;
  background: url("../images/sections/section-portfolio.jpg"); }

.header__brands {
  width: 100%;
  background: url("../images/sections/section-brands.jpg"); }

.section__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100rem;
  padding: 5rem 10rem;
  border: 1px solid var(--white); }
  @media only screen and (max-width: 43.75em) {
    .section__info {
      width: 90%;
      padding: 5rem; } }

.section__content {
  display: flex;
  width: 100%;
  padding: 0 21rem; }
  .section__content:last-child {
    padding-bottom: 5rem; }
  @media only screen and (max-width: 43.75em) {
    .section__content {
      flex-direction: column;
      padding: 0; } }

.member__image-container {
  width: 50%;
  position: relative;
  background-color: #fff; }
  .member__image-container--first:before {
    content: '';
    position: absolute;
    left: 5%;
    top: 7%;
    width: 95%;
    height: 85%;
    border: 2px solid var(--white);
    border-right: 0; }
    @media only screen and (max-width: 43.75em) {
      .member__image-container--first:before {
        left: 5%;
        top: 0%;
        width: 90%;
        height: 90%;
        border: 2px solid var(--white);
        border-top: 0; } }
  .member__image-container--second:before {
    content: '';
    position: absolute;
    left: 0%;
    top: 7%;
    width: 95%;
    height: 85%;
    border: 2px solid var(--white);
    border-left: 0; }
    @media only screen and (max-width: 43.75em) {
      .member__image-container--second:before {
        left: 5%;
        top: 0%;
        width: 90%;
        height: 90%;
        border: 2px solid var(--white);
        border-top: 0; } }
  @media only screen and (max-width: 43.75em) {
    .member__image-container {
      width: 100%; } }
  @media only screen and (max-width: 43.75em) {
    .member__image-container:first-child {
      order: 2; } }

.member__image {
  width: 100%; }
  .member__image--first {
    clip-path: polygon(0% 0%, 0% 100%, 75.06% 100.32%, 97.85% 43.12%, 100.16% 37.55%, 100.16% 60.57%, 94.56% 47.38%, 43.54% 100%, 100% 100%, 100% 0px); }
  .member__image--second {
    clip-path: polygon(0% 0%, 0% 100%, 0% 52%, 0px 37%, 4.88% 49%, 0px 59.01%, 0px 64.66%, 0px 100%, 100% 100%, 100% 0%); }

.member__info {
  width: 50%;
  position: relative;
  padding: 0 11.5rem;
  text-align: center; }
  .member__info--second:before {
    content: '';
    position: absolute;
    left: 0%;
    top: 7%;
    width: 95%;
    height: 85%;
    border: 2px solid var(--black);
    border-left: 0; }
    @media only screen and (max-width: 43.75em) {
      .member__info--second:before {
        left: 5%;
        top: 10%;
        width: 90%;
        height: 90%;
        border: 2px solid var(--black);
        border-bottom: 0; } }
  .member__info--first:before {
    content: '';
    position: absolute;
    left: 5%;
    top: 7%;
    width: 95%;
    height: 85%;
    border: 2px solid var(--black);
    border-right: 0; }
    @media only screen and (max-width: 43.75em) {
      .member__info--first:before {
        left: 5%;
        top: 10%;
        width: 90%;
        height: 90%;
        border: 2px solid var(--black);
        border-bottom: 0; } }
  @media only screen and (max-width: 56.25em) {
    .member__info {
      padding: 0 4.5rem; } }
  @media only screen and (max-width: 43.75em) {
    .member__info {
      width: 100%;
      min-height: 24rem;
      padding: 6rem; } }

.portfolio__gallery {
  display: flex;
  flex-wrap: wrap; }

.portfolio__image {
  width: 100%;
  height: 100%;
  -webkit-filter: grayscale(100%);
  filter: opacity(50%) grayscale(100%);
  transition: .2s all; }
  .portfolio__image:hover {
    filter: opacity(100%) grayscale(0); }
  .portfolio__image-container {
    width: 14.28571428%; }
    @media only screen and (max-width: 43.75em) {
      .portfolio__image-container {
        width: 33.33333333%; } }

.brands__list {
  display: flex;
  flex-wrap: wrap;
  padding: 0 21rem; }
  @media only screen and (max-width: 43.75em) {
    .brands__list {
      padding: 3rem 3rem; } }

.brands__image {
  max-width: 100%;
  max-height: 100%;
  margin: 4rem;
  transition: .2s all; }
  .brands__image:hover {
    transform: scale(1.1); }
  @media only screen and (max-width: 75em) {
    .brands__image {
      padding: 3rem;
      margin-bottom: 3rem; } }
  @media only screen and (max-width: 64em) {
    .brands__image {
      padding: 2rem; } }
  @media only screen and (max-width: 43.75em) {
    .brands__image {
      padding: 2rem; } }
  .brands__image-container {
    display: flex;
    justify-content: center;
    width: 14.28571428%; }
    @media only screen and (max-width: 43.75em) {
      .brands__image-container {
        width: 33.33333333%; } }

.footer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  background-color: var(--black);
  padding: 0 29rem; }
  @media only screen and (max-width: 43.75em) {
    .footer {
      padding: 0px 4rem;
      flex-direction: column; } }
  .footer__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 22rem;
    min-height: 20rem;
    padding: 5rem 2rem; }
    @media only screen and (max-width: 43.75em) {
      .footer__info {
        width: 100%;
        padding: 5rem 13rem; } }

.copyrights {
  width: 100%;
  font-size: 1.8rem;
  color: var(--gray);
  text-align: center;
  margin-bottom: 2rem; }

.button {
  background: none;
  border: 2px solid var(--white);
  border-radius: 2rem;
  margin-top: 4rem;
  padding: 1.2rem 4rem;
  font-size: 1.8rem;
  color: var(--white);
  text-transform: uppercase;
  transition: .2s all; }
  .button:hover {
    background-color: var(--red);
    border-color: var(--red); }

.scroll-arrow {
  position: absolute;
  bottom: 6rem;
  left: 50%;
  width: 20px;
  height: 20px;
  margin-left: -12px;
  border-left: 1px solid var(--white);
  border-bottom: 1px solid var(--white);
  transform: rotate(-45deg);
  animation: arrow 1.5s infinite; }
  .scroll-arrow--2 {
    bottom: 7.5rem; }

@keyframes arrow {
  0% {
    transform: rotate(-45deg) translate(0, 0);
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0; } }
