.accomplishments {
  display: flex;
  width: 100%;
  justify-content: space-around;
  padding: 0 25rem 0 25rem;
  font-size: 1.8rem;
  @include respond(tab-land-big) {
    padding: 0 18rem 0 18rem;
  }
  @include respond(phone) {
    flex-direction: column;
    padding: 0 16rem 0 16rem;
  }
  @include respond(phone-small) {
    padding: 0 10rem 0 10rem;
  }
}

.progress {
  width: 22.1rem;
  height: 22.1rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5rem;
  &__wrapper {
    display: flex;
    width: 25%;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    margin: 5rem 0;
    transition: .2s all;
    &:hover {
      transform: scale(1.1);
    }
    @include respond(phone) {
      width: 100%;
    }
  }
  & > .progress__inner {
    position: absolute;
    text-align: center;
  }
  & > svg {
    height: 100%;
    display: block;
  }
  &__description {
    margin-top: 4rem;
    @include respond(phone) {
      margin-top: 2rem;
    }
  }
  &__info:first-child {
    font-size: 7.2rem;
    font-weight: 800;
  }
  &__info:last-child {
    font-size: 1.8rem;
    text-transform: uppercase;
  }
}
.header {
  &__section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30rem;
    background-repeat: no-repeat;
    background-size: cover;
  }
  &__team {
    width: 100%;
    background: url('../images/sections/section-team.jpg');
    margin-bottom: 5rem;

  }
  &__portfolio {
    width: 100%;
    background: url('../images/sections/section-portfolio.jpg');
  }
  &__brands {
    width: 100%;
    background: url('../images/sections/section-brands.jpg');
  }

}
.section {
  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100rem;
    padding: 5rem 10rem;
    border: 1px solid var(--white);
    @include respond(phone) {
      width: 90%;
      padding: 5rem;
    }
  }
  &__content {
    display: flex;
    width: 100%;
    padding: 0 21rem;
    &:last-child {
      padding-bottom: 5rem;
    }
    @include respond(phone) {
      flex-direction: column;
      padding: 0;
    }
  }
}
.member {
  &__image-container {
    width: 50%;
    position: relative;
    background-color: #fff;
    &--first:before {
      content: '';
      position: absolute;
      left: 5%;
      top: 7%;
      width: 95%;
      height: 85%;
      border: 2px solid var(--white);
      border-right: 0;
      @include respond(phone) {
        left: 5%;
        top: 0%;
        width: 90%;
        height: 90%;
        border: 2px solid var(--white);
        border-top: 0;
      }
    }
    &--second:before {
      content: '';
      position: absolute;
      left: 0%;
      top: 7%;
      width: 95%;
      height: 85%;
      border: 2px solid var(--white);
      border-left: 0;
      @include respond(phone) {
        left: 5%;
        top: 0%;
        width: 90%;
        height: 90%;
        border: 2px solid var(--white);
        border-top: 0;
      }
    }
    @include respond(phone) {
      width: 100%;
    }
    &:first-child {
      @include respond(phone) {
        order: 2;
      }
    }
  }
  &__image {
    width: 100%;
    &--first {
      clip-path: polygon(0% 0%, 0% 100%, 75.06% 100.32%, 97.85% 43.12%, 100.16% 37.55%, 100.16% 60.57%, 94.56% 47.38%, 43.54% 100%, 100% 100%, 100% 0px);
      @include respond(phone) {
        clip-path: polygon(0% 0%, 0% 100%, 48% 0%, 53.47% 0px, 48.51% 8.99%, 43.76% -1px, 48% 0px, 0px 100%, 100% 100%, 100% 0%);
      }
    }
    &--second {
      clip-path: polygon(0% 0%, 0% 100%, 0% 52%, 0px 37%, 4.88% 49%, 0px 59.01%, 0px 64.66%, 0px 100%, 100% 100%, 100% 0%);
      @include respond(phone) {
        clip-path: polygon(0% 0%, 0% 100%, 48% 0%, 53.47% 0px, 48.51% 8.99%, 43.76% -1px, 48% 0px, 0px 100%, 100% 100%, 100% 0%);
      }
    }
  }
  &__info {
    width: 50%;
    position: relative;
    padding: 0 11.5rem;
    text-align: center;
    &--second:before {
      content: '';
      position: absolute;
      left: 0%;
      top: 7%;
      width: 95%;
      height: 85%;
      border: 2px solid var(--black);
      border-left: 0;
      @include respond(phone) {
        left: 5%;
        top: 10%;
        width: 90%;
        height: 90%;
        border: 2px solid var(--black);
        border-bottom: 0;
      }
    }
    &--first:before {
      content: '';
      position: absolute;
      left: 5%;
      top: 7%;
      width: 95%;
      height: 85%;
      border: 2px solid var(--black);
      border-right: 0;
      @include respond(phone) {
        left: 5%;
        top: 10%;
        width: 90%;
        height: 90%;
        border: 2px solid var(--black);
        border-bottom: 0;
      }
    }
    @include respond(tab-port) {
      padding: 0 4.5rem;
    }
    @include respond(phone) {
      width: 100%;
      min-height: 24rem;
      padding: 6rem;
    }
  }
}
.portfolio {
  &__gallery {
    display: flex;
    flex-wrap: wrap;
  }
  &__image {
    width: 100%;
    height: 100%;
    -webkit-filter: grayscale(100%);
    filter: opacity(50%) grayscale(100%);
    transition: .2s all;
    &:hover {
      filter: opacity(100%) grayscale(0);
    }
    &-container {
      width: 14.28571428%;
      @include respond(phone) {
        width: 33.33333333%;
      }
    }
  }
}
.brands {
  &__list {
    display: flex;
    flex-wrap: wrap;
    padding: 0 21rem;
    @include respond(phone) {
      padding: 3rem 3rem;
    }
  }
  &__image {
    max-width: 100%;
    max-height: 100%;
    margin: 4rem;
    transition: .2s all;
    &:hover {
      transform: scale(1.1);
    }
    @include respond(tab-land-big) {
      padding: 3rem;
      margin-bottom: 3rem;
    }
    @include respond(tab-land-small) {
      padding: 2rem;
    }
    @include respond(phone) {
      padding: 2rem;
    }

    &-container {
      display: flex;
      justify-content: center;
      width: 14.28571428%;
      @include respond(phone) {
        width: 33.33333333%;
      }
    }
  }
}
