.nav {
  display: flex;
  height: 8rem;
  text-transform: uppercase;
}
.social {
  display: flex;
  align-items: center;
  flex: 3;
  padding-left: 21rem;
  padding-right: 3rem;
  @include respond(phone) {
    padding-left: 1.5rem;
  }
  &__item {
    @include respond(phone) {
      display: none;
    }
  }
  &__icon {
    width: 2.4rem;
    height: 2.1rem;
    margin: 0 2.5rem;
    transition: .2s all;
    &:hover {
      fill: var(--red);
    }
  }
}
.logo {
  font-size: 2.4rem;
  margin-right: auto;
  padding: .65rem 1rem;
  border: 1px solid var(--red);
  border-radius: 1.5rem;
  border-top-right-radius: 0;
  transition: .2s all;
  & a:link,
  & a:visited {
    color: var(--black);
  }
  &:hover {
    color: var(--white);
    background-color: var(--red);
  }
}
.navigation {
  display: flex;
  flex: 1;
  align-items: center;
  padding-left: 3rem;
  font-size: 1.8rem;
  color: var(--white);
  background-color: var(--black);
  @include respond(phone) {
    flex: 0;
    background-color: var(--white);
  }
  &__toggle {
    position: relative;
    width: 1.4rem;
    height: 1.2rem;
    margin-right: 2.2rem;
    border: 0;
    border-top: 1px solid var(--white);
    background: transparent;
    cursor: pointer;
    @include respond(phone) {
      width: 3rem;
    }
    &::before,
    &::after {
      content: '';
      position: absolute;
      left: 0;
      width: 100%;
      border-top: 1px solid var(--white);
      @include respond(phone) {
        border-color: var(--black);
      }
    }
    &::before {
      top: -.5rem;
      transform: translateY(10px);
      @include respond(phone) {
        transform: translateY(9px);
      }
    }
    &::after {
      top: -1rem;
      transform: translateY(21px);
    }
    @include respond(phone) {
      border-color: var(--black);
    }
  }
  &__info {
    @include respond(phone) {
      display: none;
    }
  }
}
.hero {
  position: relative;
  background: url("../images/hero.jpg");
  background-size: cover;
  height: 55rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.facebook {
  width: 50px;
}
