body {
  font-family: 'Quicksand', sans-serif;
}

.heading {
  text-transform: uppercase;
  color: var(--white);
  margin: 0;
  &-primary {
    font-size: 7.2rem;
  }
  &-secondary {
    font-size: 4.8rem;
  }
  &-tertiary {
    font-size: 3.6rem;
    color: var(--black);
    font-weight: 300;
    letter-spacing: 2px;
  }
  &-fourth {
    font-size: 3rem;
  }
  @include respond(phone) {
    text-align: center;
  }
}

.subheading {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--white);
  font-weight: 100;
  &::before,
  &::after {
    content: '';
    border-top: 2px solid;
    margin: 0 20px 0 0;
    flex-basis: 7rem;
  }
  &::after {
    margin: 0 0 0 20px;
  }
  &__hero {
    font-size: 3rem;
  }
  &__header {
    position: relative;
    font-size: 1.6rem;
    letter-spacing: 2px;
    font-weight: 100;
    margin-bottom: .1rem;
    width: 100%;
  }
  &__team {
    position: relative;
    font-size: 1.6rem;
    letter-spacing: 2px;
    font-weight: 100;
    margin-bottom: 2rem;
    width: 100%;
    &::before {
      content: '';
      position: absolute;
      left: 50%;
      bottom: -1.5rem;
      width: 50%;
      height: .2rem;
      background-color: var(--orange);
      display: flex;
      justify-content: center;
      align-content: center;
      align-items: center;
      align-self: center;
      transform: translateX(-50%);
    }
  }
}
.paragraph {
  &__team {
    margin-top: 2.5rem;
    font-size: 1.6rem;
    font-weight: 300;
  }
}
.footer {
  &__heading {
    position: relative;
    &::before {
      content: '';
      position: absolute;
      left: 50%;
      bottom: -2.5rem;
      width: 100%;
      height: .2rem;
      background-color: var(--green);
      display: flex;
      justify-content: center;
      align-content: center;
      align-items: center;
      align-self: center;
      transform: translateX(-50%);
    }
  }
  &__paragraph {
    margin-top: 5rem;
    font-size: 1.8rem;
    color: var(--gray);
    text-align: center;
  }
  &__list {
    list-style-type: none;
    margin-top: 5rem;
    font-size: 1.8rem;
    text-align: center;
  }
  &__item {
    padding: .65rem 0;
  }
  &__link:link,
  &__link:visited {
    color: var(--gray);
    transition: .2s color;
  }
  &__link:hover {
    color: var(--white);
  }
}